<div class="bg-grey">
	<div class="container">
		<div class="row page-intro">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="title">Portfolio</h1>
				<div class="sub-title">
					<p>A collection of my past work</p>
				</div>
				<p class="big">
					Big or small and in any industry - your website should stand out from the rest. I build
					professional,
					modern and responsive websites which pays for itself with the increase traffic and conversion rates.
					Whether you have an existing website or you're looking to bring your business online, I can guide
					you through every step of the way.
				</p>
			</div>
		</div>
	</div>
</div>

<style>
		{{#each sites}}
		.bg-{{this.img}} {
			background: url(images/websites/{{this.img}}.jpg) center #585858;
			background-size: 105%;
		}

		.fg-{{this.img}} {
			background: url(images/websites/{{this.img}}.png) center;
			background-size: cover;
		}
		{{/each}}
</style>

<div class="bg-white">
	<div class="container">
		<div class="row">

			{{#each sites}}
				<div class="col-md-6">
					<div class="tile website bg-{{this.img}}" data-toggle="modal" data-target="#modal{{this.img}}">
						<div class="website-fg fg-{{this.img}}">
						</div>
						<div class="tile-title">
							<p> {{this.name}} </p>
						</div>
					</div>
				</div>

			{{/each}}

		</div>
	</div>
</div>

<div class="bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="title">Other Places</h2>
				<hr>
			</div>
		</div>
		<div class="row other-places">

			{{#each other}}
				<div class="col-md-4 poly-bg-{{this.bg-img}}">
					<a href="{{this.link}}" target="_blank">
						<div class="tile">
							<div class="row">
								<div class="col-md-5">
									<div class="poly">
										<img class="img-responsive" src="images/other/{{this.img}}.png">
									</div>
								</div>
								<div class="col-md-7">
									<p>{{this.text}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>

			{{/each}}
		</div>
	</div>
</div>



{{#each sites}}

	<div class="modal fade" id="modal{{this.img}}" tabindex="-1" role="dialog" aria-labelledby="modal{{this.img}}Lable">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{this.name}}</h4>
				</div>
				<div class="modal-body p-0">
					<div class="row m-0">
						<div class="col-md-6 p-0 bg-{{this.img}}">
							<div class="website-fg fg-{{this.img}}"></div>
						</div>
						<div class="col-md-6 modal-text">
							<b>{{this.subtitle}}</b>


							{{#if this.link}}
								{{#each this.text}}
									<p>{{this}}</p>
								{{/each}}
							{{else}}
								<p>Description coming soon.</p>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

					{{#if this.link}}
						<a href="{{this.link}}" target="_blank" type="button" class="btn btn-primary">View Website</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
{{/each}}

