<div class="bg-grey">
	<div class="container">
		<div class="row page-intro">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="title">{{project.name}}</h1>
				<div class="sub-title">
					<p>{{project.subtitle}}</p>
				</div>
				{{#if project.link}}
					{{#each project.text}}
						<p class="big">{{this}}</p>
					{{/each}}
				{{else}}
					<p class="big">Description coming soon.</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<style>
	.bg-{{project.img}} {
		background: url(../images/websites/{{project.img}}.jpg) center #585858;
		background-size: 105%;
	}

	.fg-{{project.img}} {
		background: url(../images/websites/{{project.img}}.png) center;
		background-size: cover;
	}
</style>

<div class="bg-white">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<div class="tile website bg-{{project.img}}">
					<div class="website-fg fg-{{project.img}}">
					</div>
					<div class="tile-title">
						<p> {{project.name}} </p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>